{% extends "layout.html" %}
{% block title %}About us{% endblock %}
{% block content%}

<h1>About us</h1>
<p>
	By the guys in group 8.
</p>

<img src="/static/images/crew.jpg" width="500px">
<p>
	Photo by <a href="https://unsplash.com/@francistogram">Fran</a> on
	<a href="https://unsplash.com/photos/woman-in-yellow-tank-top-and-black-pants-sitting-on-black-car-seat-eP-47yxVScA">Unsplash</a>.
</p>

<h2>Tech stack</h2>
<ul>
	<li>Database: MySQL</li>
	<li>Backend: Python Flask</li>
	<li>Frontend: HTML/CSS via Flask templates</li>
	<li>Web server: Nginx</li>
	<li>Host: Docker on an AWS EC2 instance</li>
</ul>

{% endblock %}
