{% extends "layout.html" %}
{% block title %}Change profile{% endblock %}
{% block content%}

<h1>Change profile</h1>

<form method="POST">
	<label for="email">Email:</label>
	<input type="email" id="email" name="email"><br>
	<label for="pwd">Password:</label>
	<input type="password" id="pwd" name="pwd"><br>
        <label for="fName">First name:</label>
        <input type="text" id="fName" name="fName"><br>
        <label for="lName">Last name:</label>
        <input type="text" id="lName" name="lName"><br>
	<input type="submit" value="Submit">
	<button type="button"><a href="/profile">Back</a></button>
</form>

{% endblock %}
