{% extends "layout.html" %}
{% block title %}Product{% endblock %}
{% block content%}

<h1>
	{{product.length}}m {{product.color}} USB {{product.standard}} cable
	({{product.c1type}} {{genders[product.c1gender]}} to
	{{product.c2type}} {{genders[product.c2gender]}})
</h1>
<ul>
	<li> Price:{{product.price}} </li>
	<li> Stock:{{product.in_stock}} </li>
</ul>

<form method="POST">
	<label for="amount">Amount: </label>
	<input id="amount" type="number" name="amount" value="1" min="1" max="10" step="1" required>
	<input type="submit" value="Add to cart">
</form>

<h2>Reviews</h2>
{% if reviews %}
	<ul id="reviews">{% for r in reviews %}
		<li>
			{{ "%s%s" |format("&#9733;" * r.rating, "&#9734;" * (5 - r.rating)) |safe }}
			by {{r.first_name}} {{r.last_name}}: "{{r.comment}}"
		</li>
	{% endfor %}</ul>
{% else %}
	<p>Sorry, no reviews yet!</p>
{% endif %}

{% endblock %}
