{% extends "layout.html" %}
{% block title %}Remove Products{% endblock %}
{% block content%}

<h1>Remove Products</h1>

{% if not products %}
	<p>Sorry, no products to remove!</p>
{% else %}
	<p>Select products to be removed:</p>
	<form method="POST">
		{% for p in products %}
		<label>
			<input type="checkbox" name="products" value="{{p.idproduct}}">
				{{p.length}}m {{p.color}} USB {{p.standard}} cable
				({{p.c1type}} {{genders[p.c1gender]}} to
				{{p.c2type}} {{genders[p.c2gender]}})
		</label><br>
		{% endfor %}
		<br><br>
		<input type="submit" value="Submit">
		<button type="button"><a href="/">Back</a></button>
	</form>
{% endif %}

{% endblock %}
